<template>
  <div>
    <base-header type="gradient-success" class="pb-6 pb-8 pt-5 pt-md-8"></base-header>

    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <card shadow type="secondary">
            <div slot="header" class="bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
              </div>
              <div  class="container">
                <!-- Formulario para añadir pacientes -->
                <section class="form">
                  <form action class="text-center">
                    <input
                      v-model="model.nombre"
                      @keyup.enter="crearPaciente"
                      type="text"
                      class="form-control"
                      placeholder="Nombre"
                    />
                    <input
                      v-model="model.edad"
                      @keyup.enter="crearPaciente"
                      type="number"
                      name="edad"
                      placeholder="Edad"
                      class="form-control"
                    />
                    <!-- Botón para añadir -->
                    <input
                      @click="crearPaciente"
                      type="button"
                      value="Añadir"
                      class="btn btn-success"
                    />
                  </form>
                </section>
                <!-- Tabla donde se muestran los datos -->
                <section class="data">
                  <caption>Pacientes</caption>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Edad</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(paciente, index) in model.pacientes" :key="index">
                        <td>{{ paciente.id }}</td>
                        <td>
                          <span v-if="model.formActualizar && model.idActualizar == index">
                            <!-- Formulario para actualizar -->
                            <input v-model="model.nombreActualizar" type="text" class="form-control" />
                          </span>
                          <span v-else>
                            <!-- Dato nombre -->
                            {{ paciente.nombre }}
                          </span>
                        </td>
                        <td>
                          <span v-if="model.formActualizar && model.idActualizar == index">
                            <!-- Formulario para actualizar -->
                            <input v-model="model.edadActualizar" type="text" class="form-control" />
                          </span>
                          <span v-else>
                            <!-- Dato edad -->
                            {{ paciente.edad }}
                          </span>
                        </td>
                        <td>
                          <!-- Botón para guardar la información actualizada -->
                          <span v-if="model.formActualizar && model.idActualizar == index">
                            <button
                              @click="guardarActualizacion(index)"
                              class="btn btn-success"
                            >Guardar</button>
                          </span>
                          <span v-else>
                            <!-- Botón para mostrar el formulario de actualizar -->
                            <button
                              @click="verFormActualizar(index)"
                              class="btn btn-warning"
                            >Actualizar</button>
                            <!-- Botón para borrar -->
                            <button @click="borrarPaciente(index)" class="btn btn-danger">Borrar</button>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </section>
              </div>
            </div>
          </card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "appPacientes",
  data() {
    return {
      model: {
        // Input nombre
        nombre: "",
        // Input edad
        edad: "",
        // Ver o no ver el formulario de actualizar
        formActualizar: false,
        // La posición de tu lista donde te gustaría actualizar
        idActualizar: -1,
        // Input nombre dentro del formulario de actualizar
        nombreActualizar: "",
        // Input edad dentro del formulario de actualizar
        edadActualizar: "",
        // Lista de pacientes
        pacientes: []
      },
  
    };
  },
      methods: {
        crearPaciente: function() {
          // Anyadimos a nuestra lista
          this.model.pacientes.push({
            id: +new Date(),
            nombre: this.model.nombre,
            edad: this.model.edad
          });
          // Vaciamos el formulario de añadir
          this.model.nombre = "";
          this.model.edad = "";
        },
        verFormActualizar: function(paciente_id) {
          // Antes de mostrar el formulario de actualizar, rellenamos sus campos
          this.model.idActualizar = paciente_id;
          this.model.nombreActualizar = this.model.pacientes[paciente_id].nombre;
          this.model.edadActualizar = this.model.pacientes[paciente_id].edad;
          // Mostramos el formulario
          this.model.formActualizar = true;
        },
        borrarPaciente: function(paciente_id) {
          // Borramos de la lista
          this.model.pacientes.splice(paciente_id, 1);
        },
        guardarActualizacion: function(paciente_id) {
          // Ocultamos nuestro formulario de actualizar
          this.model.formActualizar = false;
          // Actualizamos los datos
          this.model.pacientes[paciente_id].nombre = this.nombreActualizar;
          this.model.pacientes[paciente_id].edad = this.edadActualizar;
        }
      }
};
</script>
<style></style>
